:global(#ChampionSpeakerBox){
  width:100%;
  position: fixed;
  top:300px;
  right:0%;
  z-index: 10;
}

.ChampionSpeakerBoxInner{
  position: relative;
  max-width: 300px;
  float: right;
}
:global(#s1){
  width:0%;
  margin-right:-10px;
}
:global(.s2){
  left:-70px !important;
}

.ChampionSpeakerBoxInnerwrapper{
  background:white;
  border:2px solid #f36c20;
  padding:10px;
  box-shadow: -5px 5px 15px #484646bd;
  max-width:300px;
  margin: 0px 10px 0px 0px;
}



:global(#ChampionSpeakerBoxStatus){
  position: absolute;
  top:-25px;
  left:-25px;

  width:50px;
  height:50px;
  border-radius: 50%;
  background:white;
  border:2px solid #f36c20;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.statusup{
box-sizing: content-box;
height:5px;
width: 30px;
background: #f36c20;
position: absolute;
}
.statusdown{
  box-sizing: content-box;
  height:5px;
  width: 30px;
  background: #f36c20;
  transform: rotatez(0deg);
  position: absolute;
}

:global(.s2 #statusdown){
  box-sizing: content-box;
  height:5px;
  width: 30px;
  background: #f36c20;
  transform: rotatez(90deg);
  position: absolute;
}


.speakertop{
display: flex;
flex-direction: column;
overflow: hidden;

}
.speakertop img{
  height:auto;
  max-width: 300px;
  padding:10px 0px;
}
.speakerbottom{
    text-align: center;
}
:global(.speakerbottomp){
  margin:0px;
  text-transform: uppercase;
  font-weight: 700;
  font-size:1.2em;

}
:global(.speakerbottombutton){
  background-color: #f36c20/*#1c80a7*/;
  color:#fff;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;

  font-size:1.2em;
  font-weight: 700;
  text-transform: uppercase;
}
:global(.speakerbottombutton a:hover){
color:white;
text-decoration: none;
}
:global(.speakerbottombutton:hover){
  box-shadow:0px 0px 5px black;

}
