:global(:root){
--test:white;
--hover:black;
}



:global(#MainRight){
  background: #100a0a21;
  color:black;
}


:global(.flex){
display:flex;
color:white;

}
:global(.MainRight){
  display: flex;
  width: 78rem;
  justify-content: space-between;
  min-height: 74px;
  margin: 0px auto;
  background: #fff;
  padding: 0px 20px;
  border-left: 1px solid #00000054;
  border-right: 1px solid #00000054;
}
:global(.MainRight > .Right){
width:50%;
padding: 50px 0px;
display:block;
}

:global(.MainRight img){
height:auto;
width:100%;
position: absolute;
top: 50px;
}

:global(.MainRight > .Left){
width:50%;
position: relative;
margin-left: 75px;
}

:global(.introofevent p){
  font-size:20px;
}
