:global(:root){
--test:white;
--hover:black;
}



:global(#MainText){
/*  background: #100a0a21;*/
  color:black;
  margin:20px 0px;
}


:global(.flex){
display:flex;
color:white;

}
:global(.MainText){
  display: flex;
  width: 900px;
  justify-content: space-between;
  min-height: 74px;
  margin: 0px auto;
  background: transparent;
  color:black;
/*  border-left: 1px solid #00000054;
  border-right: 1px solid #00000054;
*/}
:global(.MainText > .Right){
width:50%;
padding: 50px 0px;
display:block;
}

:global(.MainText img){
height:auto;
width:100%;
position: absolute;
top: 50px;
}

:global(.MainText > .Left){
width:50%;
position: relative;
margin-left: 75px;
}

:global(.introofevent p){
  font-size:20px;
}
:global(.readmore){
    width:100%;
    text-align: center;
    padding:30px 0px;
}
:global(.readmoretext){
color:#000;
background:transparent;
margin: 0px auto;
padding: 10px;
width: 50px;
height: 50px;

display: flex;
justify-content: center;
align-items: center;

border: 1px solid #f7f7f76e;
border-radius: 50%;
background: linear-gradient(145deg, #e64c4c, #c24040);
box-shadow: 2px 2px 10px #b93d3d, -2px -2px 10px #f55151;
}


:global(.glyphicon){
  color:white;
}



/*testing*/

:global(.MainTextGrid){
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
:global(.g1),:global(.g3),:global(.g5){
background:#817a7a29;
}
  :global(.g:hover){
  transition:1s;
  background:var(--red);
  }
  :global(.g:hover i){
  color:white;
  }
  :global(.g:hover .g-title){
  color:white;
  transition:0.3s;
  bottom:45%;
  }
  :global(.g:hover .g-info){
  transition:.3s;
  color:white;
  bottom:35%;
  }
  :global(.fa),:global(.far),:global(.fas) {
      font-size: 4em;
      position:absolute;
      top:25%;
  }

:global(.g-title){
  font-size: 20px;
  font-weight:600;
  transition:0.3s;
  position: absolute;
  bottom:33%;
}
:global(.g-info){
  position:absolute;
  font-size: 20px;
  font-weight:300;
  transition:.3s;
  bottom:10%;
  color:transparent;

}


:global(.g){
  display:flex;
  justify-content:center;
  align-items:center;
  min-height: 300px;
  position: relative;
}
