:global(:root){
--test:white;
--hover:black;
--red:#bf2323;
}

:global(#NavIcon){
  position: absolute;
  z-index: 3;
  width: 100%;
  text-align: center;
  padding: 20px;
  background: linear-gradient(180deg, #0000009c, transparent);
}
:global(#iconbox){
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

:global(#svgbike){
  height: 70px;
  width: 70px;
  transform: rotateY(180deg);
  padding: 0px 5px;
  border-radius: 50%;
  border: 4px solid black;
  cursor: pointer;
  transition: 0.1s;
}
/*:global(#svgbike:hover){
  transition: 0.1s;
  border: 4px solid black;
}

:global(#svgbike:hover *){
  transition: 0.1s;
  fill: black !important;
}
*/
global(#cyclist){
  fill:white;
}


:global(.rotate){
  position:absolute;
  padding-left: 5px;
  width: 120px;
  color:black;
  /*z-index: -1;*/
  right: 50%;
  text-align: left;
  background:red;
}

:global(.rotate > div){
  position:absolute;
  height:5px;
}

:global(#a){
transition:1s;
transform-origin: 100% 45%;
transform: rotateZ(90deg);
}

:global(#b){
transition:1s;
transform-origin: 100% 45%;
transform: rotateZ(90deg);
}

:global(#c){
transition:1s;
transform-origin: 100% 45%;
transform: rotateZ(90deg);
}


:global(/*#svgbike:hover~#a*/ .svgbikea){
transition:1s !important;
transform-origin: 100% 45% !important;
transform: rotateZ(360deg) !important;
}
:global(/*#svgbike:hover~#b*/ .svgbikeb){
transition:1s  !important;
transform-origin: 100% 45%  !important;
transform: rotateZ(270deg)  !important;
}
  :global(#svgbike~#b>div){
  transition:1s  !important;
  transform: rotateZ(-270deg)  !important;
  }

:global(/*#svgbike:hover~#c*/ .svgbikec){
transition:1s !important;
transform-origin: 100% 45% !important;
transform: rotateZ(180deg) !important;
}
  :global(#svgbike~#c>div){
  transition:1s !important;
  transform: rotateZ(-180deg) !important;
  }
